@tailwind base;
@tailwind components;
@tailwind utilities;


/*.bell-icon {
    transition: transform 0.2s ease-in-out;
}

    .bell-icon:hover {
        transform: scale(1.2);
    }
.chart-container {
    width: 95%;
    height: 300px;
    margin: 0 auto;
}
*/

.bell-icon {
    transition: transform 0.2s ease-in-out;
}

    .bell-icon:hover {
        transform: scale(1.2);
    }
