
.order-management {
    font-size: 14px;
}

.section {
    margin-bottom: 7px;
}

    .section h2 {
        border-bottom: 2px solid #ccc;
        margin-bottom: 6px;
        text-align: left;
        padding-bottom: 3px;
    }

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex: 1 1 45%;
    width: 70px;
    display: flex;
    flex-direction: column;
}

    .input-group label {
        font-weight: bold;
    }

    .input-group input {
        padding: 2px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        border-radius: 5px;
        border: 2px solid rgba(16, 16, 183, 0.468);
        transition: all 0.3s ease;
    }


        .input-group input:focus {
            border-color: #0A1172;
        }

    .input-group .react-datepicker-wrapper {
        width: 100%; /* Set the width as needed */
    }



    .input-group .react-datepicker__input-container input {
        width: 100%;
        padding: 2px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        border-radius: 5px;
        border: 2px solid rgba(16, 16, 183, 0.468);
        transition: all 0.3s ease;
    }

        .input-group .react-datepicker__input-container input:focus {
            border-color: #0A1172;
        }



    .input-group select {
        padding: 2px;
        height: 37px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        border-radius: 5px;
        border: 2px solid rgba(16, 16, 183, 0.468);
        transition: all 0.3s ease;
    }

input-group select:focus {
    border-color: #0A1172;
}

.button-container {
    margin-top: 20px; /* Added margin to the top of the button container */
    text-align: center; /* Center align the button */
}

.button {
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #5b9cd3, #4b82ad);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    outline: none;
}


    . button:hover {
        background: linear-gradient(-135deg, #5b9cd3, #4b82ad);
    }
